@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(39, 39, 39);
    color: white;
}

.topnav{
    background-color: #2c2c2c;
    padding: 1rem;
    -webkit-box-shadow: 0px 16px 30px -10px #56E22B; 
    box-shadow: 0px 16px 30px -10px #56E22B;
}

.topnav h1:not(.no-hover):hover{
    color: rgb(86, 226, 43);
    transition: 0.3s;
    transition:all 0.2s ease-in-out;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

a:hover{
    color: rgb(86, 226, 43);
    transition: 0.3s;
    transition:all 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: block;
        margin: 0.5rem 0;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}